<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://yourdomain/PlayerAvplay"
        version="1.1.0"
        viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="demoapp016.PlayerAvplay"
                       package="demoapp016"
                       required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/network.wifi"/>
    <icon src="icon.png"/>
    <name>PlayerAvplay</name>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/avplay"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/productinfo"/>
    <tizen:profile name="tv"/>
    <tizen:setting screen-orientation="auto-rotation"
                   background-support="disable"
                   encryption="disable"
                   hwkey-event="enable"/>
</widget>
